
/** testimonial-section **/


.testimonial-section{
  position: relative;
}

.testimonial-block-one{
  margin-top: 15px;
}

.testimonial-block-one .inner-box{
  position: relative;
  display: block;
  border: 1px solid rgba(31, 31, 31, 0.05);
  padding: 44px 50px 48px 50px;
}

.testimonial-block-one .inner-box .icon-box{
  position: absolute;
  top: -13px;
  right: 50px;
}

.testimonial-block-one .inner-box .designation{
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 6px;
}

.testimonial-block-one .inner-box h2{
  display: block;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 30px;
}

.testimonial-block-one .inner-box p{
  font-size: 24px;
  line-height: 34px;
  font-family: var(--title-font);
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(31, 31, 31, 0.05);
}

.testimonial-block-one .inner-box .author-box{
  position: relative;
  display: block;
  padding: 0px 0px 0px 90px;
}

.testimonial-block-one .inner-box .author-box .thumb-box{
  position: absolute;
  left: 0px;
  top: 6px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.testimonial-block-one .inner-box .author-box .thumb-box img{
  width: 100%;
  border-radius: 50%;
}

.testimonial-block-one .inner-box .author-box h3{
  display: block;
  font-size: 24px;
  line-height: 32px;
}

.testimonial-block-one .inner-box .author-box span{
  position: relative;
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}

.testimonial-block-one .inner-box .author-box .rating-list{
  position: relative;
  display: flex;
  align-items: center;
}

.testimonial-block-one .inner-box .author-box .rating-list li{
  font-size: 18px;
  margin-right: 2px;
}

.testimonial-section .owl-dots{
  position: relative;
  display: block;
  text-align: center;
  margin-top: 40px;
}


/** testimonial-style-two **/

.testimonial-style-two{
  position: relative;
}

.testimonial-style-two .image-box{
  position: relative;
  display: block;
  margin-right: 110px;
  padding: 20px 0px;
}

.testimonial-style-two .image-box .image{
  position: relative;
  display: block;
}

.testimonial-style-two .image-box .image img{
  width: 100%;
}

.testimonial-style-two .image-box .image:before{
  position: absolute;
  content: '';
  background: #FFE482;
  width: 50px;
  height: 50px;
  left: -20px;
  top: -20px;
  z-index: -1;
}

.testimonial-style-two .image-box .image:after{
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  right: -20px;
  bottom: -20px;
  z-index: -1;
}

.testimonial-style-two .image-box .big-text{
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -42px;
  font-size: 60px;
  line-height: 46px;
  font-family: var(--title-font);
  font-weight: 700;
  background: linear-gradient(0deg, rgba(255, 143, 109, 1), rgba(255, 255, 255, 1));
  writing-mode: vertical-lr;
  -webkit-background-clip: text !important;
  transform: rotate(180deg);
  opacity: 0.20;
  text-align: center;
}

.testimonial-block-two .inner-box{
  position: relative;
  display: block;
}

.testimonial-block-two .inner-box .designation{
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 6px;
}

.testimonial-block-two .inner-box h2{
  display: block;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 34px;
}

.testimonial-block-two .inner-box p{
  font-size: 24px;
  line-height: 34px;
  font-family: var(--title-font);
  color: var(--title-color);
  margin-bottom: 45px;
}

.testimonial-block-two .inner-box .clients-info{
  position: relative;
  display: flex;
  align-items: center;
}

.testimonial-block-two .inner-box .clients-info .clients-list{
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.testimonial-block-two .inner-box .clients-info .clients-list li{
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-right: -32px;
}

.testimonial-block-two .inner-box .clients-info .clients-list li img{
  width: 100%;
  border-radius: 50%;
}

.testimonial-block-two .inner-box .clients-info .clients-list li.clients{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 86px;
  height: 86px;
  border: 1px solid #1F1F1F;
  border-radius: 50%;
  text-align: center;
  margin-right: -12px;
  text-align: center;
}

.testimonial-block-two .inner-box .clients-info .clients-list li.clients span{
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: var(--title-color);
}

.testimonial-block-two .inner-box .clients-info .rating-box h3{
  display: block;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 3px;
}

.testimonial-block-two .inner-box .clients-info .rating-box p{
  font-size: 14px;
  margin-bottom: 7px;
}

.testimonial-block-two .inner-box .clients-info .rating-box .rating-list{
  position: relative;
  display: flex;
  align-items: center;
}

.testimonial-block-two .inner-box .clients-info .rating-box .rating-list li{
  font-size: 18px;
  margin-right: 2px;
}

.testimonial-style-two .owl-dots{
  margin-top: 35px;
}


/** testimonial-style-three **/

.testimonial-style-three{
  position: relative;
  background: #1F1F1F;
}

.testimonial-style-three .testimonial-block-one .inner-box{
  background: #222;
  border-color: #222;
}

.testimonial-style-three .testimonial-block-one .inner-box h2,
.testimonial-style-three .testimonial-block-one .inner-box p,
.testimonial-style-three .testimonial-block-one .inner-box .author-box h3{
  color: #fff;
}

.testimonial-style-three .testimonial-block-one .inner-box p{
  border-color: rgba(255, 255, 255, 0.05);
}

.testimonial-style-three .testimonial-block-one .inner-box .author-box span{
  color: #7C7F87;
}

.testimonial-style-three .owl-dots{
  position: relative;
  display: block;
  text-align: center;
  margin-top: 50px;
}

.testimonial-style-three .dots-style-one .owl-dots .owl-dot:after{
  background: #1F1F1F;
}

.testimonial-style-three .dots-style-one .owl-dots .owl-dot{
  background: #fff;
}

.testimonial-style-three .pattern-layer{
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: calc(100% + 137px);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonial-style-two .inner-container{
  border-bottom: 1px solid #1F1F1F;
}

.testimonial-section .inner-container{
  border-bottom: 1px solid #1F1F1F;
}

.testimonial-page-section .testimonial-block-one{
  padding-bottom: 30px;
}


/** rtl-css **/

.rtl .testimonial-block-one .inner-box{
  text-align: right;
}

.rtl .testimonial-block-one .inner-box .author-box{
  padding-left: 0px;
  padding-right: 90px;
}

.rtl .testimonial-block-one .inner-box .author-box .thumb-box{
  left: inherit;
  right: 0px;
}

.rtl .testimonial-block-one .inner-box .author-box .rating-list{
  justify-content: right;
}

.rtl .testimonial-block-two .inner-box{
  text-align: right;
}

.rtl .testimonial-block-two .inner-box .clients-info{
  justify-content: right;
}

.rtl .testimonial-style-two .owl-dots{
  text-align: right;
}

.rtl .testimonial-style-two .image-box{
  margin-right: 0px;
  margin-left: 110px;
}

.rtl .testimonial-style-two .image-box .big-text{
  right: inherit;
  left: -42px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){
  .testimonial-style-two .image-box{
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px){

  .testimonial-section{
    padding: 70px 0px;
  }
  .testimonial-section .owl-dots{
    display: none;
  }

  .testimonial-style-two,
  .testimonial-style-three{
    padding: 70px 0px;
  }

  .testimonial-style-two .owl-dots,
  .testimonial-style-three .owl-dots{
    display: none;
  }

  .testimonial-style-two.service-page{
    padding-top: 0px;
  }

  .testimonial-style-two .inner-container{
    padding-bottom: 70px;
  }

  .testimonial-section .inner-container{
    padding-bottom: 70px;
  }

  .testimonial-style-two.about-page{
    padding-top: 0px;
  }

  .testimonial-page-section{
    padding: 70px 0px 40px 0px;
  }
}

@media only screen and (max-width: 599px){
  .testimonial-block-one .inner-box{
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 499px){
  .testimonial-style-two .image-box{
    margin-right: 0px;
  }

  .rtl .testimonial-style-two .image-box{
    margin-left: 0px;
  }

  .testimonial-style-two .image-box .big-text{
    display: none;
  }

  .testimonial-block-two .inner-box p{
    font-size: 16px;
    line-height: 26px;
  }

  .testimonial-block-two .inner-box .clients-info{
    display: block;
  }

  .testimonial-block-two .inner-box .clients-info .clients-list{
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .rtl .testimonial-block-two .inner-box .clients-info .clients-list{
    justify-content: right;
    margin-right: 30px;
  }

  .rtl .testimonial-block-two .inner-box .clients-info .rating-box .rating-list{
    justify-content: right;
  }
}





/* ------------------------------- */


/* === SERVICE HERO LAYOUT === */
.banner-style-two.service-hero{
  position: relative;
  background:#131417;          /* dark/black background */
  min-height: 620px;           
  padding-top: 110px;
  padding-bottom: 240px;       /* space for the two marquees */
  overflow: hidden;
  z-index: 0;
}
@media (max-width: 991px){
  .banner-style-two.service-hero{
    min-height: 450px;
    /* height: 450px !important; */
    padding-bottom: 220px;
  }
}

/* Big central title */
.service-hero-cluster{ position:absolute; inset:0; z-index: 4; pointer-events:none; }
.service-hero-title{
  position:absolute; left:50%; top:45%;
  transform:translate(-50%,-50%);
  margin:0; line-height:1;
  font-family: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: .5px;
  font-size: clamp(44px, 9vw, 120px);
  color:#f5b08b; /* your gradient-y look can stay in HTML/CSS if using */
  text-shadow: 0 10px 26px rgba(0,0,0,.55);
  text-transform: uppercase;
}

/* === SHAPES AROUND THE WORD === */
.banner-style-two.service-hero .pattern-layer{ position:absolute; inset:0; z-index:2; pointer-events:none; }
.banner-style-two.service-hero .pattern-layer > div{
  position:absolute; background-size:contain; background-repeat:no-repeat; background-position:center;
  /* width: clamp(42px, 6vw, 88px); height: clamp(42px, 6vw, 88px); */
  filter: drop-shadow(0 6px 14px rgba(0,0,0,.35));
  /* animation: float 7s ease-in-out infinite; */
}

/* balanced positions (tweak if you like) */

.banner-style-two.service-hero .pattern-11{
  position: absolute;
  left:24%;                     
  top: 51%;                     
  /* transform: translateY(-50%);   */
  width: 120px;
  height: 120px;
  /* background-repeat: no-repeat; */
  z-index: 1;                   
  opacity: .95;  
  animation: rotate360 16s linear infinite;               
}

.banner-style-two.service-hero .pattern-10{
  position: absolute;
  top: -35px;      
  left: -30px;
  width: 25%;         /* size of the curved blob */
  height: 30%;
  /* background-repeat: no-repeat; */
  background-size: contain;
  opacity: 1;
  z-index: 2;           /* below header/logo, above hero background */
  pointer-events: none; /* purely decorative */
  
}


.banner-style-two.service-hero .pattern-12{
  left:6%; top:50%; transform:translateY(-50%);
  width:610px; height:110px; z-index:1; opacity:.95;
}


.banner-style-two.service-hero .pattern-13{    /* upper-left small */
  top:17%; left:24%;
  width:140px; height:140px;
  transform: rotate(277deg);
  animation: rotate360 16s linear infinite;
}


.banner-style-two.service-hero .pattern-14{    /* upper-right accent */
  top:20%; left:64%;
  width:225px; height:125px;
   transform: rotate(7deg);
   animation: rotate360 16s linear infinite;
}
.banner-style-two.service-hero .pattern-15{    /* lower-left */
  bottom:30%; left:65%;
  width:200px; height:120px;
   transform: rotate(173deg);
   animation: rotate360 18s linear infinite;

}

@keyframes rotate360 {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.banner-style-two.service-hero .pattern-16{    /* lower-right */
  bottom:-16%; right:-57%;
  width:2010px; height:1030px;
}

.banner-style-two.service-hero .pattern-17{    /* bottom mid-left */
  bottom:-16%; 
  left:-60%;
  width:2010px; height:1030px;
}


.banner-style-two.service-hero .pattern-18{ bottom:10%; right:20%; animation-delay:2.1s; }

@keyframes float{
  0%,100%{ transform: translateY(0) rotate(0deg); }
  50%    { transform: translateY(-8px) rotate(3deg); }
}

/* === MARQUEES === */
/* assumes you already have base .marquee & .marquee__track animation from your theme;
   we just re-position + add a reverse direction for track #2. */

.banner-style-two.service-hero .marquee{
  position:absolute; left:0; right:0;
  transform: rotate(0deg);         /* keep level (remove tilt) */
  z-index: 6;
  /* optional background strip look */
  background: #ffe16a; color:#131417;
  padding: 10px 0;
  box-shadow: 0 10px 24px rgba(0,0,0,.18);
}

/* move the original one down a bit */
.banner-style-two.service-hero .marquee--main{ bottom: 95px; }

/* new second marquee – sits below the first */
.banner-style-two.service-hero .marquee--alt{
  bottom: 35px;
  background: #ffef9d;            /* slightly lighter so they’re distinguishable */
}

/* reverse the direction for the second track (if base marquee animates left) */
.marquee__track--reverse{
  animation-direction: reverse !important;
}

/* spacing for items inside the track */
.banner-style-two.service-hero .marquee__track span{
  display:inline-block; padding: 0 28px; font-weight: 700;
}
.banner-style-two.service-hero .marquee__track i{
  display:inline-block; padding: 0 20px; opacity:.65;
}

@media (max-width: 767px){
  .service-hero-title{ top: 42%; font-size: clamp(30px, 9vw, 56px); }
  .banner-style-two.service-hero .marquee--main{ bottom: 90px; }
  .banner-style-two.service-hero .marquee--alt{  bottom: 30px; }
}

/* === MARQUEE MOVEMENT FIX === */

/* Base marquee wrapper */
.marquee {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

/* The track that moves continuously */
.marquee__track {
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
  animation: marqueeMove 25s linear infinite;
}

/* Reverse direction for second marquee */
.marquee__track--reverse {
  animation: marqueeMoveReverse 25s linear infinite;
}

/* Each word + divider */
.marquee__track span,
.marquee__track i {
  display: inline-block;
  font-weight: 700;
  padding: 0 28px;
  color: #131417;
}

/* Hover pause effect */
.marquee:hover .marquee__track,
.marquee:hover .marquee__track--reverse {
  animation-play-state: paused;
}

/* Left to right scroll */
@keyframes marqueeMove {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Right to left scroll */
@keyframes marqueeMoveReverse {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

/* ====== TEAM HERO MARQUEES (bold, creative, no pause) ====== */

/* Bars */
.banner-style-two.service-hero .marquee{
  position:absolute; left:0; right:0; z-index:6; overflow:hidden;
  background:#ffe16a; color:#0f1115; padding:12px 0;
  box-shadow:0 10px 24px rgba(0,0,0,.18);
}
.banner-style-two.service-hero .marquee--main{ bottom:95px; }
.banner-style-two.service-hero .marquee--alt { bottom:35px; background:#ffef9d; }

/* Moving belt (two identical sets for seamless loop) */
.marquee__belt{
  display:flex; width:max-content; will-change:transform;
}

/* Typography — bold/creative */
.marquee__set{
  display:inline-flex; align-items:center;
  font-family: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .06em;
  font-size: clamp(14px, 1.15vw, 20px);
  /* subtle stroke+glow for punchy look on the yellow bars */
  -webkit-text-stroke: .4px rgba(0,0,0,.15);
  text-shadow: 0 1px 0 rgba(255,255,255,.35);
}
.marquee__set span{ display:inline-block; padding:0 34px; }
.marquee__set i{ display:inline-block; padding:0 24px; opacity:.8; }

/* Animations (no hover pause) */
@keyframes scroll-left  { from {transform:translateX(0)}    to {transform:translateX(-50%)} }
@keyframes scroll-right { from {transform:translateX(-50%)} to {transform:translateX(0)}    }

/* Top strip: LEFT → RIGHT */
.marquee__belt--right{ animation: scroll-right 20s linear infinite; }

/* Bottom strip: RIGHT → LEFT */
.marquee__belt--left { animation: scroll-left  14s linear infinite; }

/* Mobile offsets */
@media (max-width: 767px){
  .banner-style-two.service-hero .marquee--main{ bottom:90px; }
  .banner-style-two.service-hero .marquee--alt { bottom:30px; }
}









































